
<html>

<head>
	<script type="text/javascript">
	/*global CanvasJS io */
	window.onload = function () {
		
		var port = window.location.port,
	    host = window.location.hostname,
	    protocol = window.location.protocol,
	    path = '/',
	    url, 
	    options = { };
	
		if( protocol.indexOf( 'https' ) > -1 ) {
		    protocol = 'wss:';
		} else {
		    protocol = 'ws:'
		}
		
		url = protocol + "//" + host + ":" + port + path;
		
		options = { };
	
		/*
		// If you wanted to add an access token, "Session" is where I store this
		if( Session.token ) {
		   options.query = 'access_token=' + Session.token;
		}
		*/
	
		var socket = io( url, options );
		
		function getDateTime() {
		    var time = new Date().getTime();
		    // 32400000 is (GMT+9 Japan)
		    // for your timezone just multiply +/-GMT by 36000000
		    //var datestr = new Date(time + 19800000).toISOString().replace(/T/, ' ').replace(/Z/, '');
		    var dateTime = time; //+ 19800000;
		    return dateTime;
		}

		//var socket = io.connect('http://10.95.145.56:5002');

		var dps_vol = []; // dataPoints

		var chart_vol = new CanvasJS.Chart("chartContainerVol",{
			title :{
				text: "Live Battery Voltage"
			},
			zoomEnabled: true, 
			zoomType: "xy",
			theme: "theme2",
			axisY:{
  				title:"Voltage (mV)",
  			},
  			axisX:{
  				title:"Time",
  			},

			data: [{
				type: "line",
				xValueType: "dateTime",
				dataPoints: dps_vol 
			}]
		});

		var dps_cur = []; // dataPoints
		var chart_cur = new CanvasJS.Chart("chartContainerCur",{
			title :{
				text: "Live Battery Current"
			},
			zoomEnabled: true, 
			zoomType: "xy",
			theme: "theme2",
			axisY:{
  				title:"Current (mA)",
  			},
  			axisX:{
  				title:"Time",
  			},

			data: [{
				type: "line",
				xValueType: "dateTime",
				dataPoints: dps_cur
			}]
		});

		var xVal = getDateTime();

		var yVal_vol = 100;	
		var yVal_cur = 100;
		
		var updateInterval = 1000;
		var dataLength = 10000; // number of dataPoints visible at any point

		socket.on('old_data', function(data) {
			
			console.log(data);
			var sensorData = data.livedata;
			var vol = sensorData.vol;
			var cur = sensorData.cur;

			xVal = getDateTime();
			yVal_vol = vol;
			yVal_cur = cur;

			dps_vol.push({
 					x: xVal,
 					y: yVal_vol
 				});

			dps_cur.push({
 					x: xVal,
 					y: yVal_cur
 				});

			if (dps_vol.length > dataLength)
			{
				dps_vol.shift();				
			}
			
			if (dps_cur.length > dataLength)
			{
				dps_cur.shift();				
			}
			chart_vol.render();		
			chart_cur.render();		
		});
	}
	</script>
	<script type="text/javascript" src="../js/canvasjs.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div id="chartContainerVol" style="height: 300px; width:100%;"> </div>
	<div id="chartContainerCur" style="height: 300px; width:100%;">
	</div>
</body>
</html>